# likes report assignment

<b>David Gibson</b>
    
I used my own instagram account data for the likes report assignment

In [96]:
import json
import pandas as pd

In [ ]:
with open(r'/Users/davidgibson/Desktop/Data in Emerging Media and Technology/Instagram Data/likes.json') as cl: 
    likes = json.load(cl)
#likes

In [ ]:
#likes_df = pd.DataFrame(likes)

In [98]:
type(likes)

dict

In [99]:
likes.keys()

dict_keys(['media_likes', 'comment_likes'])

In [100]:
len(likes['media_likes'])

105031

In [101]:
len(likes['comment_likes'])

2858

In [102]:
dlikes_df = 'media_likes'

In [103]:
slikes_df = 'comment_likes'

# Pandas

In [104]:
dlikes_df = pd.DataFrame(likes['media_likes'], columns = ['timestamp', 'account'])
dlikes_df

                        timestamp          account
0       2021-02-02T23:12:28+00:00       bryrussell
1       2021-02-02T23:10:03+00:00     sportscenter
2       2021-02-02T23:07:58+00:00   bleacherreport
3       2021-02-02T23:07:39+00:00     hoopdiamonds
4       2021-02-02T23:04:13+00:00          espncfb
...                           ...              ...
105026  2012-07-27T00:20:04+00:00  justinbingham18
105027  2012-07-26T21:58:11+00:00  justinbingham18
105028  2012-07-26T21:57:36+00:00  justinbingham18
105029  2012-07-26T21:57:18+00:00  justinbingham18
105030  2012-07-15T23:43:48+00:00  justinbingham18

[105031 rows x 2 columns]

In [105]:
slikes_df = pd.DataFrame(likes['comment_likes'], columns = ['timestamp', 'account'])
slikes_df

                      timestamp            account
0     2021-02-01T09:07:17+00:00     stanleymucauro
1     2021-02-01T08:54:01+00:00             modsun
2     2021-02-01T08:51:43+00:00  richardajefferson
3     2021-02-01T08:51:42+00:00        washwizards
4     2021-02-01T08:47:45+00:00             xgames
...                         ...                ...
2853  2017-01-27T03:54:05+00:00      davidgibson24
2854  2017-01-27T03:54:04+00:00       amiraharveyy
2855  2016-12-26T03:14:54+00:00          megdean27
2856  2016-12-25T04:32:40+00:00         benyanoska
2857  2016-12-25T04:32:13+00:00      mike_rennette

[2858 rows x 2 columns]

In [106]:
dlikes_df.sort_values('timestamp' ,ascending=False).head()

                   timestamp         account
0  2021-02-02T23:12:28+00:00      bryrussell
1  2021-02-02T23:10:03+00:00    sportscenter
2  2021-02-02T23:07:58+00:00  bleacherreport
3  2021-02-02T23:07:39+00:00    hoopdiamonds
4  2021-02-02T23:04:13+00:00         espncfb

# Import Matplotlib and Seaborn for the three plots.

In [107]:
from matplotlib import pyplot as plt

In [ ]:
sortcount = dlikes_df.sort_values('timestamp' ,ascending=False)
labels = sortcount['timestamp'].keys()
vals = sortcount['timestamp']
width = .75

fig, ax = plt.subplots(figsize=(10, 10), dpi= 80, facecolor='w', edgecolor='k')
ax.bar(labels, vals, width)
ax.set_ylabel('Likes')
plt.xticks(rotation=90, fontsize = 'small')
plt.show()

In [ ]:
sortcount = slikes_df.sort_values('timestamp' ,ascending=False)
labels = sortcount['timestamp'].keys()
vals = sortcount['timestamp']
width = .75

fig, ax = plt.subplots(figsize=(10, 10), dpi= 80, facecolor='w', edgecolor='k')
ax.bar(labels, vals, width)
ax.set_ylabel('Likes')
plt.xticks(rotation=90, fontsize = 'small')
plt.show()

In [ ]:
fig1, ax1 = plt.subplots()
ax1.pie(vals, labels = labels)
ax1.axis('equal')
plt.show()

In [ ]:
fig2, ax2 = plt.subplots()
ax2.pie(vals, labels = labels)
ax2.axis('equal')
plt.show()

In [ ]:
toplikes = count_dlikes['timestamp'] > 50
countstop, countsbot = sortcount[toplikes], sortcount[-toplikes]
other = countsbot.sum()

piedat = countstop.append(pd.DataFrame(other['timestamp'], columns = ['timestamp'], index = ['other < 50']))
piedat.head()
<ipython-input-35-c044abe194bb>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  countstop, countsbot = sortcount[toplikes], sortcount[-toplikes]
plt.show()

In [ ]:
toplikes = count_slikes['timestamp'] > 50
countstop, countsbot = sortcount[toplikes], sortcount[-toplikes]
other = countsbot.sum()

piedat = countstop.append(pd.DataFrame(other['timestamp'], columns = ['timestamp'], index = ['other < 50']))
piedat.head()
<ipython-input-35-c044abe194bb>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  countstop, countsbot = sortcount[toplikes], sortcount[-toplikes]
plt.show()

In [ ]:
labels = piedat['timestamp'].keys()


fig3, ax3 = plt.subplots()
ax3.pie(vals, labels = labels)
ax3.axis('equal')
plt.show()

In [ ]:
import seaborn as sns

In [ ]:
vals = piedat['timestamp']
labels = piedat['timestamp'].keys()


fig3, ax3 = plt.subplots()
ax3.pie(vals, labels = labels)
ax3.axis('equal')
plt.show()

In [ ]:
sns.distplot(count_dlikes)

plt.show()

In [ ]:
sns.distplot(count_slikes)
           
plt.show()

# Conclusion
Most of my likes are on sports accounts. Honestly, over 50% of them are sports accounts or atheletes. The rest of the likes are on posts from my friends. I have come to the conclusion that I like a lot of posts on instagram based off of the results from my charts and graphs. 

My charts and plots were showing up at first and not they are not showing up. I do not know if they are just taking a long time to load because all of my codes are running.